/*My Client's Form and Signup-pages' CSS*/
*{
	font-family:Comic sans MS;
	box-sizing: border-box;
}
body{
	background:url(black-and-white-human-heart-hd-medical-we31xzxdohwrp24b.jpg)fixed;
	background-size: 1400px;
	justify-content: left;
	display:flex;
    background-position: center;
}
h1,strong{
	color:#136fbc;
	font-size:200%;
}
.container,.name,.input,.it{
	background:transparent;
	width:500px;
	height:225vh;
	margin:30px 0;
	border-radius:8px;
	padding:10px;
	outline: none;
	border: 4px solid rgba(220,220,220,.6);
	box-shadow: 100px #000000;
}
.name,.input{
	width:100%;
	height:54px;
	font-size: 18px;
	color:black;
	outline:none;
	border:none;
	border-radius:10px;
	line-height: 200px;
	border: 2px solid rgba(225,225,225,.4);
	padding:20px 32px;
	background:transparent;
	margin:none;
}
.it{
	width: 100%;
	height:54px;
	font-size:18px;
	color:black;
	outline:none;
	border-radius:10px;
	line-height: 100px;
	border:none;
	border: 2px solid rgba(225,225,225,.4);
	padding:16px 32px;
	background:transparent;
}
.i{
	width:100%;
	height:50px;
	border:none;
	border-radius:10px;
	background:#136cfb;
	outline:none;
	color:#ffffff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding:10px;
}
#i{
	width: 100%;
	height: 46px;
	border: none;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	color: #136fbc;
	border-radius: 10px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 10px;
}
.already{
	width:100%;
	height:48px;
	border:none;
	outline:none;
	background:#ffff;
	color:#136fbc;
	font-weight: 700;
	font-size: 16px;
	border-radius: 12px;
	cursor: pointer;
}
select{
	width: 100%;
	height: 54px;
	font-size: 18px;
	border-radius: 10px;
	outline:none;
	line-height: 200px;
	border:none;
	border: 2px solid rgba(225,225,225,.4);
	background: transparent;
	padding: 20px, 30px;
}
.c{
	display: flex;
	justify-content:center;
	text-decoration: none;
	color:#136fbc;
}
.c:hover,.already:hover{
	color:#000000;
}
.semi-container{
	background:transparent;
	width:500px;
	height:156vh;
	margin:30px 0;
	border-radius:12px;
	padding:10px;
	outline: none;
	border: 4px solid rgba(220,220,220,.4);
}
a{
	text-decoration: none;
	color: #136fbc;
}
